.Header {
  text-align: center;
  margin-bottom: 2em;
}

.GridWrapper {
  margin: 0 auto;
  width: fit-content;
}

.SolutionWrapper {
  max-width: 600px;
  margin: 0 auto;
}

.SolutionHeader {
  text-align: center;
}