.Cell {
    background: #eee;
    margin: 2px;
    border-radius: 0.2em;
    user-select: none;
    font-size: 2em;
    color: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.missing {
    background: #787c7e;
}

.present {
    background: #c9b458;
}

.correct {
    background: #6aaa64;
}