.Solution {
    text-align: center;
}

.Word {
    // Simple pill style
    display: inline-block;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: #f0f0f0;
    color: #000;
}